<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6375b3">  <td>20/09/05 21:01:44</td>   <td>0</td> <td title="&gt;&gt;TestSetup.beforeSuite()[pri:0, instance:test.PaymentTestCase@82d64]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="6375b3">  <td>20/09/05 21:01:48</td>   <td>4882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.StartTestCase()[pri:0, instance:test.PaymentTestCase@82d64]">&gt;&gt;StartTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:01:52</td>   <td>8757</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentTestCase.BeforeEachClass()[pri:0, instance:test.PaymentTestCase@82d64]">&gt;&gt;BeforeEachClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:01:52</td>   <td>8760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentTestCase.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:test.PaymentTestCase@82d64]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:01:52</td>   <td>8760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentTestCase.TS_ValidateTheHomePage()[pri:1, instance:test.PaymentTestCase@82d64]">TS_ValidateTheHomePage</td> 
  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:01:53</td>   <td>9865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentTestCase.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:test.PaymentTestCase@82d64]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:01:53</td>   <td>9867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentTestCase.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:test.PaymentTestCase@82d64]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:01:53</td>   <td>9867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentTestCase.TS_PaymentMethod()[pri:2, instance:test.PaymentTestCase@82d64]">TS_PaymentMethod</td> 
  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:02:54</td>   <td>70113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentTestCase.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:test.PaymentTestCase@82d64]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="818063">  <td>20/09/05 21:02:54</td>   <td>70115</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentTestCase.afterclass()[pri:0, instance:test.PaymentTestCase@82d64]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
<tr bgcolor="6375b3">  <td>20/09/05 21:02:54</td>   <td>70147</td> <td title="&lt;&lt;TestSetup.quitDriver()[pri:0, instance:test.PaymentTestCase@82d64]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2455822</td>   <td></td> </tr>
</table>
