<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="df88bb">  <td>20/09/05 17:44:37</td>   <td>0</td> <td title="&gt;&gt;TestSetup.beforeSuite()[pri:0, instance:test.PaymentTestCase@ba2a48]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6419935</td>   <td></td> </tr>
<tr bgcolor="df88bb">  <td>20/09/05 17:44:42</td>   <td>5316</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSetup.StartTestCase()[pri:0, instance:test.PaymentTestCase@ba2a48]">&gt;&gt;StartTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6419935</td>   <td></td> </tr>
<tr bgcolor="a17077">  <td>20/09/05 17:44:42</td>   <td>5497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentTestCase.TS_PaymentMethod()[pri:0, instance:test.PaymentTestCase@ba2a48]">TS_PaymentMethod</td> 
  <td>main@6419935</td>   <td></td> </tr>
<tr bgcolor="a17077">  <td>20/09/05 17:44:42</td>   <td>5497</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentTestCase.afterclass()[pri:0, instance:test.PaymentTestCase@ba2a48]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6419935</td>   <td></td> </tr>
<tr bgcolor="df88bb">  <td>20/09/05 17:44:42</td>   <td>5566</td> <td title="&lt;&lt;TestSetup.quitDriver()[pri:0, instance:test.PaymentTestCase@ba2a48]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6419935</td>   <td></td> </tr>
</table>
